body {
    font-family: sans-serif;
}

.box1 {
    display:flex;
    height: 50px;
    flex-direction: column;
    background-color: #1F2937;
    border-left: 50px;
    border-right: 50px;
    border-color: #1F2937;
    padding-left: 125px;
    padding-right: 125px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
    gap: 13px;
    padding-right: 35px;
    padding-left: 35px;
}

.sidebar-logo {
    font-size: 14px;
    color:#F9FAF8;
    font-weight: bold;
    margin-right:auto;
}

.header-link {
    font-size: 10px;
    color: #bfc0c9;
}

.container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding-left: 125px;
    padding-right: 125px;
    border-left: 50px;
    border-right: 50px;
    border-color: #1F2937;
    height: 250px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.main-image {
    height: 135px;
    width: 300px;
    background-color: #787f8a;
    color: #E5E7EB;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

.top-text {
    font-size: 27px;
    font-weight: bold;
    color: #F9FAF8;
    width: 250px;
}

.top-subtext {
    color: #bfc0c9;
    font-size: 10px;
    width: 250px;
}

.top-signup-button {
    margin-top: 5px;
    margin-right: auto;
    margin-left: 35px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border:#3882F6;
    padding: 4px 18px 4px 18px;
    font-size: 10px;

}

.box2-title {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    padding: 30px;
}


.box2 {
    display: flex;
    height: 100px;
    background-color: white;
    padding: 30px;
    margin-top: 50px;
    flex-direction: row;
}

.bluebox {
    height: 75px;
    width: 75px;
    border-color: #3882F6;
    border: 5px;
    border-radius: 5px;
}

.bluebox-text {
    display: flex;
    font-size: 10px;
    width: 100px;
    justify-content: center;
    font-color: red;
}

.box3 {
    display:flex;
    height: 150px;
    background-color: #E5E7EB;
    padding: 50px;
    border-left: 50px;
    border-right: 50px;
    border-color: #E5E7EB;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    width: 460px;
    color: #1F2937;
}

.author {
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 65px;
}

.box4 {
    display:flex;
    height: 90px;
    padding: 50px;
    justify-content: center;
}

.signup-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#3882F6;
    padding: 20px 75px 20px 75px;
    border-radius: 5px;
    width: 500px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.bottom-text {
    color: white;
    font-size: 14px;
    margin-right: auto;
}

.bottom-subtext {
    color: #dcdddb;
    font-size: 10px;
    font-weight: lighter;
    margin-right: auto;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 1px 2px 1px 2px;
    font-size: 10px;
}

.footer {
    display:flex;
    height: 40px;
    padding: 10px;
    background-color: #1F2937;
    color: #bfc0c9;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: flex;
    flex-direction: column;
}

